body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #454545;
}
/*
.logo {
    width: 200px;
    height: 200px;
    margin: 20px 30px;
}
*/
.navigation {
    margin-left: 33px;
}
.navigation a {
    display: inline-block;
    padding: 8px 12px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #454545;
    color: #454545;
    background: transparent;
}
.navigation a:hover {
    background: #454545;
    color: #fff;
}
.container {
    border: 1px solid #454545;
    border-radius: 3px;
    padding: 20px;
    margin: 33px;
}

.container .index{
    border: 1px solid #454545;
    border-radius: 3px;
    padding: 20px;
    margin: 320px;
}
.container a {
    color: #454545;
}

.logo h1
{
    text-align: center;
}

.container table {
    font-size: 11px;
    margin-top: 20px;
}
.container table thead td {
    background-color: #f5f5f5;
    padding: 4px 10px;
}
.container table tbody td {
    padding: 4px 10px;
}
.container .box {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
    text-align: center;
}

.container .box {
    padding-top: 10px;
    margin-top: 30px;
    text-align: center;
}

.container .box .options {
    text-align: center;
    padding-bottom: 100px;
}

.container .box input{

}

.container img{
    height: 240px;
    width: 240px;
}

.container .box .loginform {
    text-align: center;
    margin-bottom: 500px;
}

.container input {
    background-color: #f5f5f5;
    border: 0;
    padding: 5px 10px;
}
.container input[type="submit"] {
    background-color: #ccc;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #222;
    color: #fff;
}
.container button {
    background-color: #ccc;
    border: 0;
    padding: 5px 10px;
    cursor: pointer;
}
.container button:hover {
    background-color: #222;
    color: #fff;
}
.footer {
    padding: 1em;
    color: white;
    background-color: white;
    clear: left;
    text-align: center;
}
.footer a {

}

.container .box p {

}
